<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0; align-items: center; justify-content: center;">
    {% block content %}
    <div style=" left: 50% ; background-color: aqua; align-items: center; justify-content: center; height: 250px; width: 250px;" >
        <h3 style="color: black;"> 404 </h3>
        <span style="color: black;"> Page does Not Exist</span>
    </div>
    {% endblock %} 
</body>
</html>
