<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My Blog Project </title>
</head>
<body style="margin: 0;">
    <div style="background-color: bisque; color: rgb(2, 52, 47); ">
        <nav>
            <ul style="display:inline-flex; flex-direction: row;  margin-left:500px;">
                <li style="margin: 20px;"> Home</li>
                <li style="margin: 20px;">About</li>
                <li style="margin: 20px;"> Contact</li>
                <li style="margin: 20px;"> Blog</li>
            </ul>
        </nav>

    </div>
</body>
</html>