<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My Blog Project </title>
</head>
<body style="margin: 0;">
    {% extends "base.html" %}
    {% block content %}
    <div style="background-color: bisque; color: rgb(2, 52, 47); ">
        <nav>
            <ul style="display:inline-flex; flex-direction: row;  margin-left:500px;">
                <li style="margin: 20px;"> Home</li>
                <li style="margin: 20px;">About</li>
                <li style="margin: 20px;"> Contact</li>
                <li style="margin: 20px;"> Blog</li>
            </ul>
        </nav>

    </div>

    <h3> My name is {{first_name|upper}}</h3>

<h4> My Book Collections {% for topping in books %}</h4> 
        {{ topping }} <br>
        {%endfor%}  
        {{books.0}}
        {% endblock %} 
</body>
</html>